/Práctica/Tp2_Programacion_Estructurada/nbproject/private/
/Práctica/Tp2_Programacion_Estructurada/build/
/Práctica/Tp3_Introduccion_a_la_POO/nbproject/private/
/Práctica/Tp2_Programacion_Estructurada/dist/
/Práctica/Tp3_Introduccion_a_la_POO/build/
/Práctica/Tp4_POO/nbproject/private/
/Teoría/*